body
{
    margin: 0;
    background-size: 100vw;
    font-family: 'Saira', sans-serif;
    background: white;
}
.container
{
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
}
.header
{
    background: #000;
    color: cyan;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header a
{
    color: cyan;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}
.menu
{
    height: inherit;
}
.header ul 
{
    display: flex;
    height: inherit;
}
header ul li
{
    height: inherit;
}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.hero
{
    height: 300px;
    background: #000;
    color: #0071bc;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    padding: 1em;
    grid-template-areas: "hero-image2 hero-image";
}
.hero-image
{
    grid-area: hero-image;
    max-height: 280px;
}
.hero-image2
{
    grid-area: hero-image2;
    max-width: 512px;
    /* font-size: 4em; */
}
.services
{
    background: #000;
    color: white;
    height: 300px;
    padding: 1em;
    display: grid;
    grid-gap: 5px;
    justify-items: center;
    text-align: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}
.icon
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #298063, #35609c);
    font-size: 1em;
    justify-content: center;
    align-items: center;
}
.portfolio
{
    height: 300px;
    padding: 1em;
    color: cyan;
    background: #000;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "portfolio-text portfolio-text portfolio-text"
    "anmvea ecodomus andal";
}
.portfolio-text
{
    grid-area: portfolio-text;
}
.anmvea
{
    max-width: 250px;
    grid-area: anmvea;
}
.ecodomus
{
    max-width: 250px;
    grid-area: ecodomus;
}
.andal
{
    max-width: 250px;
    grid-area: andal;
}
.podcast
{
    padding: 1em;
    color: white;
    background: #000;
}
.contact
{
    background: #000;
    color: cyan;
    height: 250px;
    display: flex;
    justify-content: center; 
}
.form_mail 
{
    height: 350px;
    text-align: center;
    background: #000;
    color: cyan;
    padding: 1.5em;
}

.form_mail input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dbdbe2;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px
}

.form_mail textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form_mail button {
    background: #4d4d4d;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    border-bottom: 5px solid white;
    display: inline-block;
}
.footer
{
    color: cyan;
    height: 50px;
    margin: 0;
    background: #000;
    justify-content: flex-end;
    display: flex;
    padding: 1em;
}
.social {
    height: 30px;
    padding: 10px 15px;
    background: #000;
    color: cyan;
    text-align: end;    
}
.whatsapp img {
    text-align: center;
}
.contact h3 {
    color: cyan;
}